<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Program Files/JetBrains/IntelliJ IDEA 2019.3.4/workspace/lemonMavenProject">
        <classes>
            <class name="day11.TestNGTest"></class>
        </classes>
    </test>
</suite>